{% extends 'layout.html.twig' %}
{% block title %}
Auto giełda 
{% endblock %}
{% block contents %}
<div class="alert alert-danger">
<p>Podana strona nie istnieje!</p></strong>  
</div>
{% endblock %}